body{
	padding-top: 50px;
}

.col-xs-12{
    padding: 0;
}

/*Top navbar*/
.navbar-fixed-top .navbar-collapse li:first-child>a{
    padding: 10px; 
}
@media(max-width: 959px){
    .navbar-fixed-top .navbar-collapse li:first-child>a{
        padding: 10px 49% 10px 49%; 
    }
    .navbar-fixed-top .form-group{
        width: 90px;
        margin: 0 auto;
    }
}

ul.navbar-right{
    padding-right: 20px;
}

.navbar-fixed-top .fa-print{
    color:#fff;
}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width:auto;
}

/*Left side menu*/
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    padding: 0;
    overflow: visible;
    box-shadow: 2px 2px 10px #888888;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


#wrapper.toggled #sidebar-wrapper {
    width: 200px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    left:0;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    left: -200px;
    width: 198px;
    margin: 0;
    padding: 20px 0 0 0;
    border: none;
    list-style: none;
    z-index: 3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.sidebar-nav.toggled{
    left: 0;
}

.sidebar-nav li {
    display: block;
    height: 40px;
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #000;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #000;
    background: none;
}

#menu-toggle{
    position: absolute;
    top: 0px;
    right:-20px;
    height: 40px;
    width: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #888888;
    z-index: 2;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-nav .fa{
    margin-right: 10px;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    .sidebar-nav{
        left: 0;
    }

    .sidebar-nav.toggled{
        left: -200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/*Calculator*/

.calc{
    box-shadow: 2px 2px 10px #888888;
    border: none;
    border-radius: 10px;
}

.calc .panel-heading{
    border-radius: 10px 10px 0 0;
}

.calc .btn{
    margin-top: 10px;
    width: 100%;
    box-shadow: 2px 2px 10px #888888;
}

.calc .btn-wrapper{
        padding: 0 0.5em;
}

.calc-rec{
    box-shadow: 2px 2px 10px #888888;
    border: none;
}

.calc-rec .panel-heading{
    text-align: center;
}

/*Dictionary*/

.highlighted{
    color: #FF6C23 !important;
}

.translate-lang span{
    font-size: 16px;
}

.translate-lang .lang-exchange{
    box-shadow: 2px 2px 10px #888888;
}

.lang-exchange{
    margin-bottom: 21.6px;
}
@media(max-width:767px){
    .lang-exchange{
        -webkit-transform: rotate(90deg);
           -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
             -o-transform: rotate(90deg);
                transform: rotate(90deg);
    }
}

.translate-input{
    margin-bottom: 20px;
    padding: 0;
}

.translate-input input{
    width: 95%;
    float: right;
}

.translate-input button{
    box-shadow: 2px 2px 10px #888888;
}

.invalid-msg{
    font-size: 12px;
    width: 95%;
    clear: right;
    float: right;
}

.invalid-msg .alert-danger{
    position: absolute;
    margin-top: 10px;
    padding: 3px;
    border-radius: 3px;
    text-align: center; 
    box-shadow: 2px 2px 10px #888888; 
    z-index: 2;
}

.invalid-msg .alert-danger::before{
    content: "";
    position: absolute;
    margin: -10px 0 0 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #f2dede transparent;
    }

.fa-language{
    font-size: 21px;
    vertical-align: middle;
}
@media(max-width:400px){
    .fa-language+span{
        display: none;
    }
}

@media(max-width:767px){
    .translate-input{
        float: right;
    }

    .translate-input .lang-exchange{
        margin-top: 30px;
        margin-bottom: 25px;
    }
}

/*Table of translated results*/

.loading{
    position: absolute;
    left: 0;
    right: 0;
    margin: 200px auto 0 auto;
    width: 100px;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.translate-table{
    box-shadow: 2px 2px 10px #888888;
    border: none;
}

.translate-table table{
    table-layout: fixed;
}
.translate-table .table th{
    text-indent: 10px;
}

.translate-table .table H5,
.translate-table .table span{
    display: inline-block;
} 

.translate-table .table p{
    padding: 0 20px;
}

.translate-table .panel-heading H4{
    color: #FFF;
    text-align: center;
}

.translate-table .pagination{
    margin: 0 0 10px 0;
}

.translate-table .panel-body .panel-body ul,
.translate-table table ul{
     list-style-type: square;
     padding-left: 35px;
}

.translate-pills{
    max-width: 350px;
    margin:0 auto;
    float:none;
}

.translate-pills ul{
    margin-left: 15px;
}

.paginationa{
    overflow: auto;
    clear: left;
}

.page-num{
    display: inline-block;
    margin-bottom: 20px;
}

@media(max-width:768px){
    
    .translate-table{
        float: none;
    }

    .translate-table>div>div:nth-child(3){
        margin-top: 20px;
    }
}

/*Animation*/

.view-frame.ng-enter, .view-frame.ng-leave {
  position: absolute;
  padding: 20px 35px;
  top: 0px;
  left: 0;
  width: 100%;
}
@media(max-width:768px){
    .view-frame.ng-enter, .view-frame.ng-leave {
      /*background: white;*/
      position: absolute;
      padding: 15px 30px;
      top: 0px;
    }
}

.view-frame.ng-enter {
  -webkit-animation: 0.5s fade-in;
  -moz-animation: 0.5s fade-in;
  -o-animation: 0.5s fade-in;
  animation: 0.5s fade-in;
  z-index: 100;
}

.view-frame.ng-leave {
  -webkit-animation: 0.5s fade-out;
  -moz-animation: 0.5s fade-out;
  -o-animation: 0.5s fade-out;
  animation: 0.5s fade-out;
  z-index:99;
}

.invalid-msg .alert-danger.ng-hide-remove{
      -webkit-animation: 0.5s slide-in-bot;
  -moz-animation: 0.5s slide-in-bot;
  -o-animation: 0.5s slide-in-bot;
  animation: 0.5s slide-in-bot;
}

@keyframes fade-in{
  from { opacity: 0; }
  to { opacity: 1; }
}
@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-moz-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}
@-webkit-keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes slide-in-bot{
  from { 
    opacity: 0;
    transform: translateY(10px);
    }
  to { 
    opacity: 1;
    transform: translateY(0);
   }
}
@-moz-keyframes slide-in-bot {
  from { 
    opacity: 0;
    transform: translateY(10px);
    }
  to { 
    opacity: 1;
    transform: translateY(0);
   }
}
@-webkit-keyframes slide-in-bot {
  from { 
    opacity: 0;
    transform: translateY(10px);
    }
  to { 
    opacity: 1;
    transform: translateY(0);
   }
}








transform: translateY(10px);