<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-1">
	<div class="panel panel-info calc">
		<div class="panel-heading">
			 <h3 class="panel-title">
			<input class="form-control" ng-model="displayNum"style="text-align:right"></h3>
		</div>
		<div class="panel-body">
			<row>
				<div class="col-xs-3 btn-wrapper" ng-repeat-start="button in buttons" >
					<button class="btn btn-success" ng-click="apply_input(button)">{{button}}</button>
				</div>
				<!-- clearfix for the themes which change the height of buttons -->
				<div ng-if="$index%4==3" ng-repeat-end ng-class="{'clearfix visible-sm-block visible-md-block visible-lg-block':$index%4==3}"> 
				</div>
			</row>					
		</div>
	</div>
</div>
<!-- calculation records -->	
<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-1">
	<row>
		<div class="panel panel-info calc-rec">
			<div class="panel-heading">
				<h3 class="panel-title">Calculations</h3>
			</div>
			<div class="panel-body">
				<ul>
					<li ng-repeat="record in records">{{record}}</li>
				</ul>
			</div>
		</div>
	</row>
</div>


