<!-- Translate input -->
<div class="row translate-lang col-xs-6 col-sm-12">
	<div class="col-xs-12 col-xs-offset-0 col-sm-4  col-sm-offset-1  col-md-4  col-md-offset-1 col-lg-4 col-lg-offset-1">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<span>{{fromLang}}</span>
			</div>
		</div>
	</div>

	<div class="col-xs-12 col-xs-offset-0 col-sm-2 col-sm-offset-0 text-center">
		<div class="btn btn-default lang-exchange" ng-click="langExchange()">
			<i class="fa fa-2x fa-exchange"></i>
		</div>
	</div>

	<div class="col-xs-12 col-xs-offset-0 col-sm-4 col-sm-offset-0 col-lg-4 ">
		<div class="panel panel-primary">
			<div class="panel-heading text-center">
				<span>{{toLang}}</span>
			</div>
		</div>
	</div>
</div>
<form name="form" class="css-form" novalidate>
	<div class="row translate-input col-xs-6 col-sm-12">
		<div class="col-xs-12 col-sm-4 col-sm-offset-1">		
			<input class="form-control"  type="text" ng-model="kw" name="kw" required="" valida="{{fromLang}}">
			<div class="invalid-msg">
				<div class="alert-danger" role="alert" ng-show="(form.$submitted || form.kw.$touched)&&form.kw.$error.required">Please enter word to search</div>
				<div class="alert-danger" role="alert" ng-show="(form.$submitted || form.kw.$touched)&&form.kw.$error.valida">This is not a valid word</div>
			</div>
		</div>

		<div class="col-xs-12 col-xs-offset-0 col-sm-2 col-sm-offset-0 text-center">	
			<i class="fa fa-3x fa-long-arrow-right lang-exchange"></i>
		</div>

		<div class="col-xs-12  col-sm-4 text-center">
			<button type="submit" class="btn btn-primary" ng-click="update(kw)" ng-disabled="form.$invalid">
				<i class="fa fa-language fa-2x"></i>
				<span>Translate</span>
			</button>
			<button type="submit" class="btn btn-primary">
				<span>All</span>
			</button>
		</div>
	</div>
</form>
<!-- End of translate input -->
<!-- Translate results -->
<div class="row" ng-show="master.kw">
	<div class="col-xs-12 col-lg-10 col-lg-offset-1">
		<div class="panel panel-info translate-table">
			<div class="panel-heading">
				<h4>Translate Matches</h4>
			</div>
			<div class="panel-body">
			<div class="text-center paginationa">
				<uib-pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" num-pages="numPages" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination> 
			</div>
			<!-- show results as a table in pc -->
			<table class="table">
				<tr class="well">
					<th style ="">
						<h5 ng-click="order('zhTW')">Traditional Chinese
							<span class="sortorder" ng-show="predicate === 'zhTW'" ng-class="{reverse:reverse}"></span>
						</h5>
					</th>
					<th style ="">
						<h5 ng-click="order('pron')">Pronuciation
							<span class="sortorder" ng-show="predicate === 'pron'" ng-class="{reverse:reverse}"></span>
						</h5>
					</th>
					<th style ="">
						<h5 ng-click="order('ENdescr')">English Description
							<span class="sortorder" ng-show="predicate === 'ENdescr'" ng-class="{reverse:reverse}"></span>
						</h5>
					</th>
				</tr>
				<tr ng-repeat="result in showedTranslates">
					<td style ="word-break:break-all;">
						<p>{{master.kw}}</p>						
					</td>
					<td style ="word-break:break-all;">
						<p>{{testresult.heteronyms[0].pinyin}}</p>						
					</td>
					<td style ="word-break:break-all;">
						<p>{{result.def||result.Definations}}</p>						
					</td>
				</tr>
			</table>
			<!-- show results as panels in mobile -->
			<div ng-repeat="result in showedTranslates" class="col-xs-11 translate-pills" id="transResultMobile{{$index}}" smooth-scroll scroll-if="{{ $first }}" offset="70">
				<div class="panel panel-primary">
					<div class="panel-heading text-center">
						{{master.kw}}
					</div>
					<div class="panel-body">
						{{result.def}}
					</div>
				</div>	
			</div>	
		</div>	
		</div>
		<div class="text-center paginationa">
			<uib-pagination total-items="totalItems" max-size="maxSize" ng-model="currentPage" num-pages="numPages" items-per-page="itemsPerPage" ng-change="pageChanged()"></uib-pagination> 
			<pre class="page-num">Page: {{currentPage}} / {{numPages}}</pre>
		</div>
	</div>
</div>

{{projects}}